In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
FILES_DIR = './files/'
total = pd.read_csv(FILES_DIR + 'total.csv')

In [3]:
total_df = total.copy()

In [36]:
total_df.region.nunique()

173

In [32]:
total_df.columns

Index(['Unnamed: 0', 'session_id', 'event_timestamp', 'event_name', 'user_no',
       'item_no', 'device_type', 'operating_system_version', 'country',
       'region', 'platform', 'event_timestamp_year', 'event_timestamp_month',
       'event_timestamp_day', 'event_timestamp_hour', 'event_timestamp_minute',
       'ostype', 'osversion(number)', 'item_name', 'image_name', 'price',
       'category1_code', 'category1_name', 'category2_code', 'category2_name',
       'category3_code', 'category3_name', 'brand_no', 'brand_name',
       'birth_date', 'gender', 'age'],
      dtype='object')

In [37]:
# 나이(age)가 17세 이하인 사용자를 찾아서 age(Group) 컬럼에 "00 ~ 17"이라는 값을 넣어줍니다
total_df.loc[total_df['age'] <= 17, 'age(Group)'] = "00 ~ 17"

# 위 방식에 따라 나이 설정 값으로 지정해줍니다
total_df.loc[(total_df['age'] >= 18) &\
               (total_df['age'] <= 24), 'age(Group)'] = "18 ~ 24"

total_df.loc[(total_df['age'] >= 25) &\
               (total_df['age'] <= 35), 'age(Group)'] = "25 ~ 35"

total_df.loc[(total_df['age'] >= 36) &\
               (total_df['age'] <= 44), 'age(Group)'] = "36 ~ 44"

total_df.loc[(total_df['age'] >= 45) &\
               (total_df['age'] <= 54), 'age(Group)'] = "45 ~ 54"

total_df.loc[total_df['age'] >= 55, 'age(Group)'] = "55 ~ 99"

# 데이터를 정리 후 아래 2개 컬럼 내용을 확인합니다
total_df[['age','age(Group)']]

         age age(Group)
0         54    45 ~ 54
1         54    45 ~ 54
2         54    45 ~ 54
3         54    45 ~ 54
4         54    45 ~ 54
...      ...        ...
5544525   38    36 ~ 44
5544526   32    25 ~ 35
5544527   28    25 ~ 35
5544528   34    25 ~ 35
5544529   23    18 ~ 24

[5544530 rows x 2 columns]

In [38]:
suc_data = total_df[total_df['event_name'] == 'purchase_success']

In [39]:
suc_data['age(Group)'].unique()

array(['45 ~ 54', '36 ~ 44', '25 ~ 35', '18 ~ 24', '55 ~ 99', '00 ~ 17'],
      dtype=object)

In [ ]:
# cat1 = suc_data[suc_data['category1_name'] == '의류']['price']
# cat2 = suc_data[suc_data['category1_name'] == '잡화']['price']
# cat3 = suc_data[suc_data['category1_name'] == '가구/인테리어']['price']
# cat4 = suc_data[suc_data['category1_name'] == '디지털/가전']['price']
# cat5 = suc_data[suc_data['category1_name'] == '생활/건강']['price']
# cat6 = suc_data[suc_data['category1_name'] == '성년의날']['price']
# cat7 = suc_data[suc_data['category1_name'] == '스포츠/레저']['price']
# cat8 = suc_data[suc_data['category1_name'] == '키즈']['price']
# cat9 = suc_data[suc_data['category1_name'] == '컬처']['price']
# cat10 = suc_data[suc_data['category1_name'] == '화장품/미용']['price']
# cat11 = suc_data[suc_data['category1_name'] == '반려동물']['price']

In [40]:
age1 = suc_data[suc_data['age(Group)'] == '00 ~ 17']['price']
age2 = suc_data[suc_data['age(Group)'] == '18 ~ 24']['price']
age3 = suc_data[suc_data['age(Group)'] == '25 ~ 35']['price']
age4 = suc_data[suc_data['age(Group)'] == '36 ~ 44']['price']
age5 = suc_data[suc_data['age(Group)'] == '45 ~ 54']['price']
age6 = suc_data[suc_data['age(Group)'] == '55 ~ 99']['price']

In [47]:
suc_data.platform.unique()

array(['IOS', 'ANDROID'], dtype=object)

In [49]:
plat1 = suc_data[suc_data['platform'] == 'IOS']['price']
plat2 = suc_data[suc_data['platform'] == 'ANDROID']['price']

In [50]:
## 등분산성 검정
## Bartlett’s test tests the null hypothesis that all input samples are from populations with equal variances.
## So best case scenario is not to reject null hypothesis.
import scipy.stats as stats
from scipy.stats import bartlett
stats.bartlett(plat1,plat2)

BartlettResult(statistic=1433.5057897689167, pvalue=0.0)

In [51]:
stats.levene(plat1,plat2)

LeveneResult(statistic=7.987915740612693, pvalue=0.004709273584442476)

In [53]:
import scipy.stats as stats
## 정규성 검정 & 왜도 검사
print( ##Shaprio 검정
stats.shapiro(plat2)
## 왜도 측정
      , 'skewness test: {}'.format( abs(stats.skew(plat2 , bias = False) ) ) 
      , sep = '\n'
     )

ShapiroResult(statistic=0.5585371255874634, pvalue=0.0)
skewness test: 12.135158134747202

c:\Users\bongkyun\anaconda3\lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")